<form action="/signup" method="post">
    <div>
        <label for="">name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="">password</label>
        <input type="text" name="password">
    </div>
    <div>
        <label for="">username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label for="">description</label>
        <input type="text" name="description">
    </div>
    <div>
        <label for="">Foto de perfil</label>
        <input type="text" name="avatar">
    </div>
    <div>
        <label for="">Adress</label>
        <input type="text" name="adress">
    </div>
    <div>
        <input id="lng" type="text" name="lng">
        <input id="lat" type="text" name="lat">
    </div>

    <button type="submit">Create</button>
</form>

<script src="./../../js/script.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBELJh4BpgqopdZkRIAycagEfb0RTDCbvs&libraries=places&callback=initAutocomplete"
    async defer></script>


<form>
    <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input type="text" class="form-control" id="username" name="email">

    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>