<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div>

            <p><a class="btn mybutton4 d-flex align-items-center justify-content-center" id="vets">Veterinarios
                    <img class="icon" src="/images/vet.png" alt="veterinario">
                </a></p>
            <p><a class="btn mybutton2 d-flex align-items-center justify-content-center" id="shops">Tiendas
                    <img class="icon" src="/images/food.png" alt="Tienda de comida">
                </a></p>
            <p><a class="btn mybutton d-flex align-items-center justify-content-center" id="parks">Parques
                    <img class="icon" src="/images/walk.png" alt="Parques para perros">
                </a></p>
            <p><a class="btn mybutton3 d-flex align-items-center justify-content-center" id="carers">Cuidadores en mi
                    zona
                    <img class="icon" src="/images/foodprint.png" alt="Cuidadores de la zona">
                </a></p>
        </div>
        <figure class="serviceMap" id="serviceMap"></figure>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./../../js/placesMap.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?v=beta&key=AIzaSyBELJh4BpgqopdZkRIAycagEfb0RTDCbvs&libraries=places&callback=initMap">
    </script>