<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div>

            <p><a class="btn btn-dark" id="vets">Veterinarios</a></p>
            <p><a class="btn btn-dark" id="shops">Tiendas</a></p>
            <p><a class="btn btn-dark" id="parks">Parques</a></p>
            <p><a class="btn btn-dark" id="carers">Cuidadores en mi zona</a></p>
        </div>
        <figure id="serviceMap"></figure>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./../../js/script.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?v=beta&key=AIzaSyCVIi2FBEHjFi0klzM7Xj0HMR-mT4JZGq4&libraries=places&callback=initMap">
    </script>