{{!-- <div class="hero">
    <h1>Un banner mu guapo :3</h1>
</div> --}}


<div class="row">
    <div class="col-6">
        <h1>Esta es la web más molona del planeta</h1>
    </div>
    <div class="col-6">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>

        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
            type="module"></script>

        <dotlottie-player src="https://lottie.host/6390dad8-67e4-47f4-a6ba-3906b41ed718/bBr3Ae1jAi.json"
            background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
</div>