{{!-- <div class="hero">
    <h1>Un banner mu guapo :3</h1>
</div> --}}

<div class="container">
    <div class="row-lottie row d-flex align-items-center">
        <div class="col-6 text-center">

            <h1 class="option">Como si tu mismo los cuidaras</h1>
        </div>
        <div class="col-6 ">
            <div class="lottie">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"></script>

                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"></script>

                <dotlottie-player src="https://lottie.host/6390dad8-67e4-47f4-a6ba-3906b41ed718/bBr3Ae1jAi.json"
                    background="transparent" speed="1" style="width: 600px; height: 600px;" loop
                    autoplay></dotlottie-player>
            </div>
            <div class="div"></div>
        </div>
    </div>
</div>