<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p><a class="btn btn-outline-dark" href="/signup">Sign up TEST</a></p>

<p><a class="btn btn-outline-dark" href="/login">Log in TEST</a></p>

<p><a class="btn btn-outline-dark" href="/logout">Logout TEST</a></p>