body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 1.5rem;
}

h2 h3 {
  font-size: .85rem;
}

.navbar-brand {
  width: 120px;
}

.nav {
  background-color: #FFA69E !important;
  padding-left: 10px;
  padding-right: 50px;
}

#lng,
#lat {
  display: none
}

.mybutton {
  background-color: #93e1d8;
  color: white;
  transition: background-color 0.3s ease;
  padding: .5rem 0;
}

.mybutton:hover {
  background-color: #5bc0be;
  color: white;

}

#serviceMap {
  height: 300px;
  width: 70vw;
  background-color: aquamarine;
}

#carerMap {
  height: 400px;
  width: 500px;
  background-color: aquamarine;
  position: fixed;
  border-radius: 15px;
}

.careerMap {
  width: 550px;
  height: 400px;
}

.tips {
  color: rgb(158, 157, 157);
}

.avatar {
  width: 300px;
  border-radius: 15px;
}

.hero {
  width: 100vw;
  height: 80vh;
  background-color: #93e1d8;
  text-align: center;
}

#carerDetailMap {
  height: 400px;
  width: 400px;
  background-color: aquamarine;
}

.myprofilecol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}