body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 20px;
}

h2,
h3 {
  font-size: 17px;
}

.card-title {
  color: #361a42 !important;
}

.navbar-brand {
  width: 170px;
}

.nav {
  background-color: transparent !important;
  padding-left: 10px;
  padding-right: 50px;
}

#lng,
#lat {
  display: none
}

.mybutton {
  background-color: #93e1d8;
  color: #aa4465;
  transition: background-color 0.3s ease;

}

.mybutton:hover {
  background-color: #5bc0be;
  color: white;

}

.mybutton2 {
  background-color: #aa4465;
  color: white;
  transition: background-color 0.3s ease;

}

.mybutton2:hover {
  background-color: #7c3048;
  color: white;

}

.mybutton3 {
  background-color: #462255;
  color: white;
  transition: background-color 0.3s ease;

}

.mybutton3:hover {
  background-color: #361a42;
  color: white;

}

.mybutton4 {
  background-color: #23abbc;
  color: white;
}

.mybutton4:hover {
  background-color: #2092a1;
  color: white;

}

.mybutton5 {
  background-color: #FFA69E;
  color: white;
}

.mybutton5:hover {
  background-color: #db8c85;
  color: white;

}

.serviceMap {
  height: 500px;
  width: 60vw;
  background-color: aquamarine;
  border-radius: 15px;
  border: solid 3px #ddfff7;
}

.carerMap {
  height: 400px;
  width: 500px;
  background-color: aquamarine;

  border-radius: 15px;
  border: solid 3px #ddfff7;
}

.dinamicMap {
  position: fixed !important;

}

.careerMap {
  width: 550px;
  height: 400px;
}

.tips {
  color: rgb(158, 157, 157);
}

.avatar {
  width: 300px;
  border-radius: 15px;
}

.hero {
  width: 100vw;
  height: 80vh;
  background-color: #93e1d8;
  text-align: center;
}



.myprofilecol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colizq {
  margin-right: 3rem;
  height: 80vh;
  border-radius: 20px;
  border: 3px solid #ddfff7 #ddfff7;

  background-color: rgba(254, 254, 254, 0.35);

}

.colder {
  border-radius: 20px;
  border: 3px solid #7c3048;
  height: 72vh;
  background-color: rgba(254, 254, 254, 0.35);
}

.cont-avatar {
  max-width: 100%;
  justify-content: center;

  height: auto;
}

.avatar {
  max-width: 100%;

  height: auto;
  border: 3px solid #93e1d8;
  border-radius: 10px;
  display: block;
}

.description-cont {
  width: 300px;
  padding: .5rem;
  border: 3px solid #93e1d8;
  border-radius: 10px;
}

#carerDetailMap {
  height: 40vh;
  width: 100%;
  background-color: aquamarine;
  border-radius: 10px;
  border: 3px solid #93e1d8;

}

.details-carer {
  color: #361a42;
}

.button-coment {
  position: sticky;
  top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #361a42
}

* {
  padding: 0;
  margin: 0;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #FFA69E, #ffffff);
}

.button-log {
  margin-left: 100vh;
}

.btn-custom {
  margin-left: 10px;
  border-color: #fad7d4 !important;
  color: s#fdd9d6;

}

.btn-custom:hover {
  background-color: #fad7d4;
  margin-left: 10px;
  border-color: #fad7d4 !important;
  color: #FFA69E;

}

.btn-outline-light:hover {
  background-color: #ffffff;
  margin-left: 10px;
  border-color: #fad7d4 !important;
  color: #FFA69E !important;

}


.table {
  padding: 50px;

}

.emoji {
  font-size: 2em;
}

.emojiGroup {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.icon {
  width: 20px;
  margin-left: 4px;

}

.custom-link {
  font-size: 16px;
  color: white !important;
}

.custom-link:hover {
  font-size: 16px;
  color: #aa4465 !important;
}

.overflow {
  margin-bottom: 10px;
  width: auto;
  height: 100px;

  overflow-y: scroll;


}

.card-img {
  object-position: top;

  height: 150px;

  object-fit: cover;
}

label {
  color: #361a42;
}

.progress,
.progress-stacked {
  --bs-progress-bar-bg: #67327d !important;
}

.custom-card {
  padding: 1rem;
  background-color: rgba(254, 254, 254, 0.45) !important;
  border-radius: 5px;

}


.body-coment {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1rem;

}

.overflow-comment {
  height: 450px;

  overflow-y: scroll;
}

.mycol {
  border-right: 3px solid white;
}

.myrow {
  padding-top: 6px;
  background-color: rgba(254, 254, 254, 0.45);
}

.bookings-container {
  padding: 1rem;
  background-color: rgba(254, 254, 254, 0.35);
  border-radius: 15px;
  border: 3px solid white;
}