body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 1.5rem;
}

h2 h3 {
  font-size: .85rem;
}

.navbar-brand {
  width: 120px;
}

.nav {
  background-color: #FFA69E !important;
}

#lng,
#lat {
  display: none
}

.mybutton {
  background-color: #93e1d8;
  color: white;
  transition: background-color 0.3s ease;
  padding: .5rem 0;
}

.mybutton:hover {
  background-color: #5bc0be;
  color: white;

}

#serviceMap {
  height: 300px;
  width: 70vw;
  background-color: aquamarine;
}

#carerMap {
  height: 500px;
  width: 600px;
  background-color: aquamarine;
  position: fixed;
  border-radius: 15px;
}

#carerDetailMap {
  height: 400px;
  width: 400px;
  background-color: aquamarine;
}